#sidebar{
    background-color: blue;
    color: #fff;
    padding-left: 5px;
    width: 250px;
    height: 500px;
    justify-content: center;
    margin-right: 10px;
    
}

.btn:hover{
    color: yellowgreen;
    font-size: 30px;
}

header{
    background-color: green;
    color: #fff;
    padding-left: 0px;
    width: auto;
    height: 100px;
    display: flex;
    justify-content: center;
    padding: 5px;
    border: 1px solid black;
}

footer{
    background-color: grey;
    color: #fff;
    padding-left: 0px;
    width: auto;
    height: 100px;
    display: flex;
    justify-content: center;
}

#content{
    font-size: 50px;
    justify-content:safe;
}

.main-container{
    justify-content: center;
}